node_modules
.DS_Store
*
*.css
*.html
C:\Users\NOOPP\Desktop\JavaScript_React_Angular\JS_Projects\Coursera_Full_Stack_Course\examples\
C:\Users\NOOPP\Desktop\JavaScript_React_Angular\JS_Projects\Coursera_Full_Stack_Course\assignments\
examples/
